__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
build/
dist/

runs/
temp.json
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.index

benchmarks/Mem-Gallery/
models/
.env
